@using Entities;
@using NewMetricSolution.DB.TreeStructure;
@model List<ITree<Department>>;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="tree">
        @{
            await RenderTreeOfDepartments(Model);
        }
    </ul>
</div>

@{
    string CheckForNumber(int value)
    {
        if (value > 1)
        {
            return $"{value} сотрудников";
        }
        else return $"{value} сотрудник";

    }
}

@{

    async Task RenderTreeOfDepartments(List<ITree<Department>> departments)
    {
        foreach (var department in departments)
        {
            if (department.Children.Count != 0)
            {
                <li>
                    <div class="sticky">
                        @department.Data.Name<br />
                        (@CheckForNumber(department.Data.Employees))
                    </div>
                    <ul>
                        @{
                           await RenderTreeOfDepartments(department.Children.ToList());
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <div class="sticky">
                        <a class="child" asp-controller="Home"
           asp-action="IncreaseNumberOfEmployees"
           asp-route-department="@department.Data.Name">
                            @department.Data.Name <br />
                            (@CheckForNumber(department.Data.Employees))
                        </a>
                    </div>
                </li>
            }
        }
    }
}
